%div{:class => ['column_8', 'offset_3']}
  %div{:class => 'local-image', :id => "#{photo.created_time}"}
    = image_tag("#{photo.images.standard_resolution.url}")
    %br
    =raw link_to "@#{photo.user.username}", "http://www.instagram.com/#{photo.user.username}"
    .photo-caption
      - if photo.caption 
        = "#{photo.caption.text}" 
      %br
      - if photo.comments.data.length > 0
        - photo.comments.data.each do |comment|
          = "@#{comment.from.username}: #{comment.text}" 
          %br
