%div{:class => ['column_8', 'offset_2', 'local-image'], :id => "#{photo.created_time}"}
	= image_tag("#{photo.images.standard_resolution.url}")
	%br 
	=raw "#{photo.user.username} |" 
	= photo.caption ? "#{photo.caption.text}" : ""
