= render partial: "layouts/header"
.main
  %h3.instagram Trending in your area
  - @trending_venues.venues.each do |venue|
    %div{:class => ['column_8', 'offset_3']}
      %div{:class => 'foursquare-checkin'}
        .foursquare-image
          = image_tag("#{venue.categories.first.icon}")
        .foursquare-info
          %span.text.bold #{venue.name} 
          |
          - if venue.location.address
            %span.text.bold #{venue.location.address} 
            |
          = link_to "#{venue.url}" do 
            %span.text.bold #{venue.url}
          %br
          .checkin-count
            = "#{venue.hereNow.count}"
