/ = @lat_lng

%br
- @tweets.each do |tweet|
  = link_to(image_tag("#{tweet[:user][:profile_image_url]}"), "http://www.twitter.com/#{tweet[:user][:screen_name]}")
  %strong= "@#{tweet[:user][:screen_name]}: "
  = tweet[:text]
  / = tweet[:geo][:coordinates] unless tweet[:geo].nil?
  /= link_to("Bio", "http://www.twitter.com/#{tweet[:user][:screen_name]}")
  %br

